SredniaForm/Connected Services/SredniaServiceReference/SredniaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SredniaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52320/SredniaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52320/SredniaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52320/SredniaService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISredniaService_ObliczSrednia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObliczSrednia" />
  </wsdl:message>
  <wsdl:message name="ISredniaService_ObliczSrednia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObliczSredniaResponse" />
  </wsdl:message>
  <wsdl:message name="ISredniaService_CzyPoprawna_InputMessage">
    <wsdl:part name="parameters" element="tns:CzyPoprawna" />
  </wsdl:message>
  <wsdl:message name="ISredniaService_CzyPoprawna_OutputMessage">
    <wsdl:part name="parameters" element="tns:CzyPoprawnaResponse" />
  </wsdl:message>
  <wsdl:message name="ISredniaService_CzyZdane_InputMessage">
    <wsdl:part name="parameters" element="tns:CzyZdane" />
  </wsdl:message>
  <wsdl:message name="ISredniaService_CzyZdane_OutputMessage">
    <wsdl:part name="parameters" element="tns:CzyZdaneResponse" />
  </wsdl:message>
  <wsdl:portType name="ISredniaService">
    <wsdl:operation name="ObliczSrednia">
      <wsdl:input wsaw:Action="http://tempuri.org/ISredniaService/ObliczSrednia" message="tns:ISredniaService_ObliczSrednia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISredniaService/ObliczSredniaResponse" message="tns:ISredniaService_ObliczSrednia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CzyPoprawna">
      <wsdl:input wsaw:Action="http://tempuri.org/ISredniaService/CzyPoprawna" message="tns:ISredniaService_CzyPoprawna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISredniaService/CzyPoprawnaResponse" message="tns:ISredniaService_CzyPoprawna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CzyZdane">
      <wsdl:input wsaw:Action="http://tempuri.org/ISredniaService/CzyZdane" message="tns:ISredniaService_CzyZdane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISredniaService/CzyZdaneResponse" message="tns:ISredniaService_CzyZdane_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISredniaService" type="tns:ISredniaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObliczSrednia">
      <soap:operation soapAction="http://tempuri.org/ISredniaService/ObliczSrednia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CzyPoprawna">
      <soap:operation soapAction="http://tempuri.org/ISredniaService/CzyPoprawna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CzyZdane">
      <soap:operation soapAction="http://tempuri.org/ISredniaService/CzyZdane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SredniaService">
    <wsdl:port name="BasicHttpBinding_ISredniaService" binding="tns:BasicHttpBinding_ISredniaService">
      <soap:address location="http://localhost:52320/SredniaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>